
@use 'variables' as v;
@use 'colores' as c;
@use 'tipografia' as t;
@use 'mixins' as m;


// Botones
@mixin boton($bgColor, $colorTexto, $display) {
    background-color: $bgColor;
    display: $display;

    color: $colorTexto;
    font-size: 1.2rem;
    text-align: center;
    
    margin: 0.2rem 0.2rem 0.2rem 0;
    padding: 1rem 2rem;

    border: none;
    border-radius: 0.5rem;

    transition-property: background-color;
    transition-duration: .3s;
    
    width: 100%;

    &:hover {
        background-color: darken( $bgColor, 10% );
        cursor: pointer;
    }
}

// Botones
@mixin boton_pequeño($bgColor, $colorTexto, $display) {
    background-color: $bgColor;
    display: $display;

    color: $colorTexto;
    font-size: 1.2rem;
    text-align: center;
    
    margin: 0.5rem 0.5rem 0.5rem 1rem;
    padding: 0.5rem 1rem;

    border: 1px solid lighten(grey, 30%);
    border-radius: 0.5rem;

    transition-property: background-color;
    transition-duration: 0.5s;

    &:hover {
        background-color: darken( $bgColor, 10% );
        cursor: pointer;
    }
}

@mixin boton_pulsado($bgColor, $colorTexto, $display) {
    background-color: $bgColor;
    display: $display;

    color: $colorTexto;
    font-size: 1.2rem;
    text-align: center;
    
    margin: 0.2rem 0.2rem 0.2rem 0;
    padding: 1rem 2rem;

    border: none;
    border-radius: 0.5rem;

    transition-property: background-color;
    transition-duration: .3s;
    
    width: 100%;

    &:hover {
        background-color: darken( c.$rojo, 10% );
        cursor: pointer;
    }
}

