@use 'variables' as v;
@use 'colores' as c;

// Fuentes
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
$fuente_principal: 'Poppins', sans-serif;

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;


h1, h2, h3 {
    font-family: $fuente_principal;
    margin: 0 0 calc(v.$separacion / 2) 0 ;
    font-weight: 900;
    color: c.$principal;
    text-align: center;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
    margin: 0;
}

h4{
    font-size: calc(0.8em + 0.8vw);
    color: c.$blanco;
    margin: 0;
    padding: 0;
}

h5{
    font-size: calc(0.5em + 0.8vw);
    font-family: $fuente_principal;
    color: c.$principal;
    margin: 0;
    padding: 0;
}

p {
    color: c.$negro;
    font-size: calc(0.4em + 0.8vw);
    margin: 0;
    padding: 0;
}
