@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'base/colores' as c;
@use 'base/tipografia' as t;


.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

    .puerta,
    .mando,
    .motor,
    .ilu,
    .piscina,
    .meteo {
        margin-bottom: 0.5rem;

    }

    .contenedor_puerta,
    .contenedor_mando,
    .contenedor_meteo,
    .contenedor_piscina {
        display: block;
        
        margin: 0.5rem 0;
        padding: 0.5rem;
    }

    .contenedor_info {
        display: grid;
        grid-template-columns: repeat(3, 2fr);

        margin-bottom: 1rem;
    }

    
    // desplegables
    .boton_verde {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0.8rem;

        width: 100%;

        h4 {
            text-align: left;
            width: 30%;
        }
        .img {
            margin-right: 2rem;
            margin-left: 4rem;
            max-width: 3rem;
            width: 70%;
            text-align: right;

            filter: invert(1);

            @include m.tablet {
                margin-left: 12rem;
            }
        }
    }

    .desple {
        visibility: hidden;
        opacity: 0;

        margin: 0;
        padding: 0;
        height: 0;

        width: 100%;
        max-width: 120rem;
        max-height: 50rem;

        background-color: c.$blanco;
        
        border: 1px solid darken(c.$gris, 10%);
        border-radius: 0.5rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

        overscroll-behavior: auto;
        overflow-y: auto;

    }

    .abrir{
        visibility: visible;
        opacity: 1;
        transition: visibility 0.5s linear 0s, opacity 0.7s;  
        height: auto;
        margin-bottom: 1.5rem;
    }

    .cerrar {

        .cerrar_sesion {
            display: flex;
            justify-content: center;
            align-items: center;
    
            padding: 0.8rem;
    
            width: 100%;
    
            h4 {
                text-align: left;
                width: 30%;
            }
            .img {
                margin-right: 2rem;
                margin-left: 4rem;
                max-width: 3rem;
                width: 70%;
                text-align: right;
    
                filter: invert(1);
    
                @include m.tablet {
                    margin-left: 12rem;
                }
            }
        }
    }
