@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'base/colores' as c;
@use 'base/tipografia' as t;

header {
    background-color: c.$principal;
    padding: 2rem;
    margin-bottom: 2rem;

    h3, h5 {
        color: c.$blanco;
    }
    .contenedor {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

footer {
    background-color: c.$principal;

    p {
        color: c.$blanco;
        font-size: 1.3rem;
        padding: 0.5rem;
        text-align: center;

        @include m.tablet{
            text-align: right;
            padding-right: 2rem;
        }
    }


}