@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'base/colores' as c;
@use 'base/tipografia' as t;


.puerta {
    margin-top: 2rem;
    
    .contenedor_puerta {
        margin-top: 0;

        .abrir_puerta {
            display: flex;
        }

        .foco {
            margin-top: 3rem;

            .botones_foco {
                display: flex;
            }
        }
    }
}